body {
  background: #eaf4fe;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

header {
  border-bottom: 1px solid #eaf4fe;
  padding: 10px 0 25px 0;
}

main {
  padding-bottom: 25px;
}

footer {
  border-top: 1px solid #eaf4fe;
  padding: 25px 0 10px 0;
  color: #6d7779;
  font-size: 12px;
}

footer a {
  color: #5ba3f4;
  text-decoration: none;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 30px 0 10px 0;
  font-size: 12px;
}

ul .day {
  font-size: 16px;
}

#city {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

#city-temp {
  font-size: 28px;
  position: relative;
  top: 20px;
}

.icon {
  width: 80px;
  position: relative;
  top: 10px;
}

#city-temp .degrees {
  position: relative;
  top: -30px;
}

#city-temp .temp {
  font-size: 70px;
  font-weight: 600;
}
#city-info {
  color: #6d7779;
  line-height: 24px;
}
#city-info h1 {
  color: #5ba3f4;
}

#city-info strong {
  color: #5ba3f4;
}

#form-search {
  background-color: #eaf4fe;
  border: none;
  padding: 15px;
  width: 60%;
  border-radius: 5px;
}

#form-submit {
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #5ba3f4;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.body-container {
  background: white;
  border-radius: 10px;
  width: 60%;
  max-width: 700px;
  margin: 0 auto;
  padding: 25px 40px;
  position: relative;
  top: 10%;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

html,
body,
.container {
  width: 100%;
  height: 100%;
  min-width: 500px;
  min-height: 500px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.container {
  background-color: #007ced;
  background: linear-gradient(to bottom, #007ced 1%, #cce7ff 100%);
}
#cloud-intro {
  position: relative;
  height: 100%;
  background: url(https://static.radulescu.me/examples/clouds/clouds1000.png);
  background: url(https://static.radulescu.me/examples/clouds/clouds1000.png) 0
      200px,
    url(https://static.radulescu.me/examples/clouds/clouds1200_1.png) 0 300px,
    url(https://static.radulescu.me/examples/clouds/clouds1000_blur3.png) 100px
      250px;
  animation: wind 20s linear infinite;
}
@keyframes wind {
  0% {
    background-position: 0 200px, 0 300px, 100px 250px;
  }
  100% {
    background-position: 1000px 200px, 1200px 300px, 1100px 250px;
  }
}
